body {
	text-align: center;
	font-family: "Arial";
	color: #222;
	padding-top: 20px;
	background-color: #CCC;
	margin: 0;
}

.game-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #222;
	color: #CCC;
}

.wrapper {
	margin-bottom: 20px;
}

.footer {
	margin-top: 60px;
}